@font-face {
	font-family: RDRLino-Regular;
	src: url(RDRLino-Regular.ttf);
}

@font-face {
	font-family: HapnaSlabSerif-Medium;
	src: url(HapnaSlabSerif-Medium.ttf) format('truetype')
}
* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    padding: 0;
    margin: 0;
    font-family: "RDRLino-Regular";
    /* text-transform: uppercase; */
    color: white;
    text-shadow:
        -0.5px -0.5px 0 #000,
        0.5px -0.5px 0 #000,
        -0.5px 0.5px 0 #000,
        0.5px 0.5px 0 #000;
}
p{
    font-size: 18px;
}
body, html {
    overflow: hidden;
    position: fixed;
  }
.ui {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.35); */
    /* display: none; */
    /* padding-left: 10%; */
    z-index: 0;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.inventory {
    position: relative;
    /* margin: auto auto; */
    width: 50%;
    height: 75%;
    /* background-color: red; */
    background-image: url("inkroller_1a.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
    top: 6%;
    float:left;
    display: none;
    /* opacity: ; */


}

.crafting {
    position: relative;
    /* margin: auto auto; */
    width: 50%;
    height: 75%;
    /* background-color: red; */
    background-image: url("inkroller_1a.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
    top: 6%;
    float:left;
    display: none;
    /* opacity: ; */


}
.otherInventory {
    position: relative;
    width: 50%;
    height: 75%;
    /* background-color: red; */
    background-image: url("inkroller_1a.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
     display: none;
     top: 6%;
    float:left;
    /* opacity: ; */
}
.centerwrapper
    {
       margin:  auto auto;
       height: 100%;
       width: 53%;
       margin-left:37%;
    }

#playerInventory {
    position: relative;
    width: 85%;
    height: 51%;
    margin: auto auto;
    top: 8%;
    /* float: left; */
    overflow-x: hidden;
	overflow-y: scroll;
    /* box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
    background-color: rgba(17, 5, 17, 0.2); */
}
#craftingInventory {
    position: relative;
    width: 85%;
    height: 51%;
    margin: auto auto;
    top: 10%;
    /* float: left; */
    overflow-x: hidden;
	overflow-y: scroll;
    /* box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
    background-color: rgba(17, 5, 17, 0.2); */
}


#secondInventory {
    position: relative;
    width: 85%;
    height: 65%;
    margin: auto auto;
    /* top: 1%; */
    /* float: left; */
    overflow-x: hidden;
	overflow-y: scroll;
    /* box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
    background-color: rgba(17, 5, 17, 0.2); */
}

#controls {
    position: relative;
    width: 100%;
    height: 30%;
    /* float: left; */
    /* background-color: rgba(17, 5, 17, 0.2); */
    margin: auto auto;
    /* background-color: red; */
    top: 15%;
}

#header {
    position: relative;
    width: 100%;
    height: 12%;
    /* float: left; */
    /* background-color: rgba(17, 5, 17, 0.2); */
    margin: auto auto;
    top: 3%;
}


#count {
    border: none;
    outline: none;
    font-size: 18px;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

/* input[type=number] {
    -moz-appearance: textfield;
} */

.slot {
    float: left;
    width: 23%;
    /* height: 24%; */
    background-color: rgba(24, 24, 24, 0.4);
    margin: 2px;
    position: relative;
}

.slot:hover {
    background-color: rgba(24, 24, 24, 0.8);
    outline: 2px solid rgb(172, 0, 0);
    outline-offset: -2px;

}

.item,
.item-other {
    width: 23%;
    /* height: 24%; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.slot,.item,
.item-other:after {
    padding-bottom: 24%;
  }

.item-name {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 117px;
    min-height: 20px;
    z-index: 500;
    font-size: 12px;
    background-color: rgba(17, 5, 17, 0.8);
}

.ui-draggable-dragging .item-name,
.ui-draggable-dragging .item-count {
    /* display: none; */
}

.item-count {
    font-family: verdana;
    position: absolute;
    color:black;
    width: 30%;
    height: 30%;
    left: 65%;
    top:65%;
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: center;
    z-index: 500;
    font-size: 12px;
    font-weight: thin;
    background-image: url("counter_bg_1b.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.line-div {
    width: 85%;
    height: 4px;
    position: relative;
    margin: auto auto;
    background-image: url("list_item_h_line_wide.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 80%;
    top: -35%;
}
.line2-div {
    width: 85%;
    height: 4px;
    position: relative;
    margin: auto auto;
    background-image: url("list_item_h_line_wide.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 80%;
    /* top: -25%; */
}
.scrollline-div {
    width: 85%;
    height: 59px;
    position: relative;
    margin: auto auto;
    background-image: url("scroller_right_bottom.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
    top: -28%;
    opacity:0.5;
}
.title-div {
    text-align: center;
    padding: 5px;
    /* background-color: rgba(17, 5, 17, 0.6); */
    height: 10%;
    width: 90%;
    font-size: 20px;
    position: relative;
    margin: 2% auto;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}
.category-div {
    text-align: center;
    padding: 5px;
    /* background-color: rgba(17, 5, 17, 0.6); */
    height: 80%;
    width: 90%;
    font-size: 15px;
    position: relative;
    margin: auto auto;
    top:5%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}


.button {

    background-color: rgba(255, 255, 255, 0.95);
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    font-size: 19px;
    border-radius: 2px;
    color: black;
    margin: 0 10px;
    float: left;

}
.category {
    float: left;
    font-size: 20px;
}

.info-div {
    text-align: center;
    padding: 5px;
    /* background-color: rgba(17, 5, 17, 0.6); */
    height: 45%;
    width: 85%;
    font-size: 16px;
    position: relative;
    margin: auto auto;
    /* left: 50%; */
    top: -40%;
    /* transform: translate(-50%, -50%); */
}
.weight-div {
    font-family: HapnaSlabSerif-Medium;
    text-align: center;
    width: 80%;
    font-size: 15px;
    position: relative;
    margin: auto auto;
    top: -30%;
}

.presscrafting-div {
    font-family: HapnaSlabSerif-Medium;
    text-align: center;
    width: 20%;
    font-size: 15px;
    position: relative;
    margin: auto 7%;
    top: -38%;
}

.pressinv-div {
    font-family: HapnaSlabSerif-Medium;
    text-align: center;
    width: 20%;
    font-size: 15px;
    position: relative;
    margin: auto 7%;
    top: -30%;
}


.controls-div {
    position: relative;
    margin: auto auto;
    width: 25%;
    top: -30%;

}


.item-name-bg {
    width: 100%;
    width: 117px;
    height: 20px;
    position: absolute;
    bottom: 0;
}

#playerInventory::-webkit-scrollbar-track,
#craftingInventory::-webkit-scrollbar-track,
#secondInventory::-webkit-scrollbar-track {
    background-color: none;
    border: none;
}

#playerInventory::-webkit-scrollbar,
#craftingInventory::-webkit-scrollbar,
#secondInventory::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(17, 5, 17, 0.2);
}

#playerInventory::-webkit-scrollbar-thumb,
#craftingInventory::-webkit-scrollbar-thumb,
#secondInventory::-webkit-scrollbar-thumb {
    background-color: rgba(17, 5, 17, 1);
    border: 2px solid rgba(17, 5, 17, 1);
}

.category-imgs{

    position: relative;
    width: 100%;
    height: 40%;
    margin:auto auto;
    top:10%;
    /* background-color: brown; */
    float:left;

}
.img{
    left: 21%;
    top:20%;
    transform: translate(-50%, 0%);
    position: relative;
    /* background-color: blue; */
    width: 5.8%;
    /* height: 60%; */
    margin-left: 2%;
    background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
    float:left;
    opacity: 0.5;
}
.img.all{
    background-image: url("satchel_nav_all.png");
}
.img.food{
    background-image: url("satchel_nav_provisions.png");
}
.img.medicaments{
    background-image: url("satchel_nav_remedies.png");
}
.img.herbs{
    background-image: url("satchel_nav_herbs.png");
}
.img.materials{
    background-image: url("satchel_nav_materials.png");
}
.img.tools{
    background-image: url("satchel_nav_kit.png");
}
.img.valutables{
    background-image: url("satchel_nav_valuables.png");
}
.img.horse{
    background-image: url("satchel_nav_horse_items.png");
}

.img.available{
    background-image: url("satchel_nav_loot.png");
}


.img.active{
    opacity: 1.0;
}
.c.img.active{
    opacity: 1.0;
}

.img:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }



#noSecondInventoryMessage {
    width: 615px;
    height: 580px;
    line-height: 580px;
    text-align: center;
}
#slider-div{
    position: absolute;
    left: -25%;
    float: left;

}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #910606;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #910606;
    cursor: pointer;
  }


  .category-div ul {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 200px;
    /* padding: 12px 15px 15px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* top: 5%; */
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: center;

}
.category-div ul li {
      display: none; }
.category-div ul .active {
      display: block; }
.category-div ul .arrow {
      width: 14px;
      height: 14px;
      text-decoration: none;
      font-size: 0;
      display: inline-block;
      vertical-align: middle;
      border: none; }
